.main {
    width: 650px;
    margin: 40px auto;
    /* border: 1px solid red; */
}

.main h2 {
    text-align: center;
    margin-bottom: 16px;
   
}

.todo_item {
    border: 1px solid #333;
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.todo_item h3 {
    text-align: center;
}
.date_priority {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}

.todo_item a {
    border: 1px solid #aaa;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #333;
    color: #eee;
}

.priority {
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 8px;
}

.priority.low {
    background-color: rgb(236, 91, 91);
    color: #eee;
}

.priority.medium {
    background-color: green;
    color: #eee;
}

.priority.high {
    background-color: blue;
    color: #eee;
}

.btn_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}