.page {
  width: 960px;
  margin: 0 auto;
  
}

.page h2 {
  text-align: center;
  margin: 50px 0 12px;
  font-size: 90px;
}

.page span {
  color: #aaa;
}

.page > p {
  text-align: center;
  margin-bottom: 16px;
  color: #aaa;
  font-size: 25px;
}

.para_container > p {
  margin-bottom: 16px;
  padding: 0 70px;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 16px 32px;
  border: 2px solid lightblue;
  border-radius: 8px;
}